<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nicolas Castellano Front Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <h1>Nick's Web Directory</h1>
        <p>
            Here you will find a list of all the web pages I have created. As well as my social media links.
        </p>
    </header>


    <main >
        <section id="contact-social-media">
            <h2>
                Social Media Links
            </h2>
            <!-- if social_links is empty -->
            {% if not social_links %}
                <p>
                    No social media links available.
                </p>
            <!-- if social_links is not empty -->
            {% else %}
                <ul>
                    <!-- iterate the social links -->
                    {% for link in social_links %}
                        <li>
                            <a class="media-link" href="{{ link.link_url }}" target="_blank">
                                <!-- display the icon from static -->
                                <img class="link-icon" src="{{ url_for('static', filename='icons/' + link.link_icon_name ) }}" alt="{{ link.link_label }}">
                                <!-- add the link label from the social_links -->
                                {{ link.link_label }}
                            </a>
                        </li>
                    {% endfor %}
                    
                </ul>
            {% endif %}
            
            
        </section>

        <section id="web-pages">
            <h2>
                Live Web Projects
            </h2>
            <!-- if social_links is empty -->
            {% if not project_links %}
                <p>
                    No live projects links available.
                </p>
            <!-- if social_links is not empty -->
            {% else %}
                <ul>
                    <!-- iterate the live project links -->
                    {% for link in project_links %}
                        <li>
                            <a class="media-link" href="{{ link.link_url }}" target="_blank">
                                <!-- display the icon from static -->
                                <img class="link-icon" src="{{ url_for('static', filename='icons/' + link.link_icon_name ) }}" alt="{{ link.link_label }}">
                                <!-- add the link label from the social_links -->
                                {{ link.link_label }}
                            </a>
                        </li>
                    {% endfor %}
                    
                </ul>
            {% endif %}
        </section>
    </main>

    <footer>
        Made by Nicolas Castellano
    </footer>
</body>
</html>