<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid - Nicolas Castellano Front Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Nick's Web Directory</h1>
        <p>
            Here you will find a list of all the web pages I have created. As well as my social media links.
        </p>
    </header>


    <main >
        
    </main>

    <footer>
        Made by Nicolas Castellano
    </footer>
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid - Nick's Front Page</title>
</head>
<body>
    <header>
        <h1>Invalid Method</h1>
        <p>
            The method you are trying to use is invalid. Please try again.
        </p>
    </header>
</body>
</html>